<div class="card">
    <canvas id="myChart" class="card-img-top"></canvas>
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum mauris sit amet mauris eleifend convallis. Curabitur vitae porttitor mauris. Phasellus rutrum, dolor at mattis auctor, purus leo dapibus eros, id tristique orci quam in augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam mattis est in turpis pharetra, at gravida elit feugiat. Ut vestibulum libero in auctor tempus. Aliquam maximus eros ut augue ultricies porta. Donec enim tortor, molestie ac accumsan ut, sollicitudin et lectus. Integer sodales convallis eleifend. Praesent ut ligula vel nisi porttitor lobortis eu vel mauris. Donec viverra ornare nisi, in lacinia dui maximus non. Maecenas cursus consectetur aliquet. Duis nec semper tortor.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>