
body {
    overflow-x: hidden;
    padding:0;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    padding-left: 1rem;
    padding-right: 1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background-color: #d9d9d9;
  }

  .card{
      margin-top: 0.5rem;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    color:#353535;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
    background:none;
  }
  .list-group-item{
    color:#fff;
    background: none;
    border-color: white;
  }
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -6rem;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -18rem;
    }
  }