#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -22.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background-color: #d9d9d9;
  }

  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    color:#353535;
  }
  
  #sidebar-wrapper .list-group {
    width: 20rem;
    background:none;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0rem;
  }